    <div class="logo"><a href="{$web.dir}"><img src="{$web.logo}" width="426" height="72" border="0" alt="{$web.name}" /></a></div>
    <div class="banner"><img src="{$web.banner}" width="979" height="200" /></div>
    <div class="nav">
      <div class="nav_l"></div>
      <div class="nav_c">
        <ul class="navlist">
          <li><a href="{$web.dir}">首页</a></li>
          <li><a href="{$web.dir}index.php?m=about&id=20">关于我们</a></li>
          <li><a href="{$web.dir}index.php?m=article">行业知识</a></li>
          <li><a href="{$web.dir}index.php?m=product">产品中心</a></li>
          <li><a href="{$web.dir}index.php?m=hr">诚聘英才</a></li>
          <li><a href="{$web.dir}index.php?m=feedback">留言反馈</a></li>
          <li><a href="{$web.dir}index.php?m=about&id=22">联系我们</a></li>
        </ul>
      </div>
      <div class="nav_r"></div>
    </div>
    <div class="clear"></div>