<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$product.seo_title} - {$class.seo_title} - {$web.seotitle}</title>
<meta name="Keywords" content="{$product.seo_keyword}">
<meta name="Description" content="{$product.seo_description}">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="{$web.css_path}style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="main">
    {include file="include/head.html"}
    <div class="site">您当前的位置：<a href="{$web.dir}">首页</a> -> <a href="{$web.dir}index.php?m=product">产品中心</a> -> <a href="{$web.dir}index.php?m=product&classid={$class.classid}">{$class.classname}</a> -> {$product.proname}</div>
    <div class="clear"></div>
    <div class="content">
      <div class="left">
        <div class="box">
          <div class="box_t">
            <div class="box_t_l"></div>
            <div class="box_t_c"><h2 class="heading">产品分类</h2>
            </div>
            <div class="box_t_r"></div>
          </div>
          <div class="clear"></div>
          <div class="box_c">
            <dl class="list">
            
           {get_category_level parentid="1" level="2" visible="0" num=""}
           <level_1_top> <dt class="subtitle"><a href="{$web.dir}index.php?m=product&classid=<classid>"><classname></a></dt>
            <dd><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr><td><ul class="cate_list"></level_1_top>
            <level_2_top><li>+ <a href="{$web.dir}index.php?m=product&classid=<classid>"><classname></a></li></level_2_top><level_2_bottom></level_2_bottom>
            <level_1_bottom></ul></td></tr></table></level_1_bottom>
            {/get_category_level}
            
            </dl>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="box">
          <div class="box_t1">
              <h2 class="heading1">{$class.classname}</h2>
          </div>
          <div class="clear"></div>
          <div class="info">
          
          <div class="tou"><p class="biaoti">{$product.proname}</p><p style="color:#666;padding-top:8px;">发布时间：{$product.updatetime}&nbsp;&nbsp;&nbsp;&nbsp;点击次数：{$product.hits}</p></div>
　　<a href="{$product.proimg2}" target="_blank"><img src="{$product.proimg2}" width="600" border="0"/></a><br /><br />{$product.procontent}
                     
          </div>
        </div>
      </div>
    </div>
{include file="include/foot.html"}
  </div>
</body>
</html>